html, body
  width: 100%
  height: 100%
  padding: 0
  margin: 0

.session-list, .break-list
  display: flex
  flex-direction: column
  gap: .5em
  padding: 1em
  .break
    display: flex
    align-items: center
    justify-content: space-between
    gap: .5em
  .session
    user-select: none
    padding: .5em
    background: #afb
    border-radius: .25em
  .session.used
    background: #d7d8d9

.canvas
  width: 100%
  height: 100%
  margin: auto
  display: flex
  position: relative
  padding: 1em
  align-items: stretch
  flex: 1 0 auto
  .tracks
    width: 100%
    height: 100%
    background: #edeeef
    display: flex
    gap: 1em
    justify-content: space-between
    align-items: stretch
    .track
      background: #cccdce
      flex: 1 0 auto
  .tick-field
    width: 1.5em
  .ticks
    position: absolute
    pointer-events: none
    inset: 0
    margin: 1em 0
  .tick
    cursor: pointer
    width: 100%
    height: 0
    border-top: 1px solid #0ff
    padding-right: .25em
    position: absolute
    font-size: 12px
    text-align: right
    top: 0
    left: 0
    pointer-events: all
    line-height: 1em
    .tick-inner
      user-select: none
      padding: .1em .3em
      background: #0ff
      display: inline-block
      border-radius: 0 0 .25em .25em
  .entries
    position: absolute
    pointer-events: none
    inset: 0
  .entry
    position: absolute
    pointer-events: all
    user-select: none
    cursor: pointer
    display: flex
    padding-right: 1em
    align-items: center
    justify-content: center
    color: #fff
    background: #000
    box-shadow: inset 0 0 0 1px rgba(255,255,255,1)
    overflow: hidden
    .i-close
      position: absolute
      top: .2em
      right: .4em
      font-size: .65em
      cursor: pointer
    [ld=title]
      user-select: none
      padding: 0 .5em
      display: inline
      margin: auto
      overflow: hidden
      text-overflow: ellipsis
      white-space: pre
  .refline
    font-size: .75em
    text-align: center
    margin-top: calc(1em/0.75)
    position: absolute
    width: 0
    height: 0
    border-top: 1px dashed #f00
    border-bottom: 1px dashed #f00
    z-index: var(--z-float)
    pointer-events: none
  .times
    user-select: none
    border-right: 1px solid #000
    width: 1em
    margin-right: .25em
    position: relative
    .time
      border-top: 1px solid #000
      text-align: right
      padding-right: .15em
      font-size: .75em
      line-height: 1em
      width: .2em
      position: absolute
      right: 0
    .time.half
      width: .5em
    .time.half.full
      width: 1em
